<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
    <Console name="LogToConsole" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="sc-automation-tests" level="debug" additivity="false">
        <AppenderRef ref="LogToConsole"/>
    </Logger>
    <Root level="debug">
        <AppenderRef ref="LogToConsole"/>
    </Root>
</Loggers>
</Configuration>